body {
	background: url("https://bit.ly/2IetOXF");
	background-color: lavender; 
}

#top-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

#name {
	font-size: 20px;
	text-align: center;
	display: inline-block;
}

#container {
	display: flex;
	align-content: center;
	flex-direction: column-reverse;
}

#pet {
	display: flex;
	justify-content: center;
}

#petpic {
	display; flex;
	justify-content: center;
	flex-direction: row;
	width: 200px;
	height:200px;
	padding-top: 100px;
}
.stats {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#feed, #lights, #play {
	background-color: #64489B;
	font-size: 25px;
	border-radius: 20px;
	border: 6px solid black;
	height: 150px;
	width: 150px;
}

#Hunger,#Sleepy,#Bored {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background: white;
	font-size: 20px;
/*	font-weight: 900;*/
	border-radius: 20px;
	height: 50px;
	width: 100px;
}



/*#hungry:hover {
	background-color: #4B0082;
}*/

/*#sleepy {
	position: absolute;
	bottom: 5%;
    right:5%;
	background-color: #64489B;
	font-size: 35px;
	color: solid black;
	border: 6px solid black;
	border-radius: 50px;
}*/

/*#sleepy:hover {
	background-color: #4B0082;
}*/

/*#bored {
	position: center bottom;
	bottom: 5%;
	background-color: #64489B;
	font-size: 35px;
	color: solid black;
	border: 6px solid black;
	border-radius: 50px;
}*/

/*#bored:hover {
	background-color: #4B0082;
}*/

#timer {
	color: solid black;
	font-size: 25px;
}