body {
	background: url("https://bit.ly/2IetOXF");
	background-color: lavender; 
}
#name {
	font-size: 20px;
	text-align: center;
	display: inline-block;
}

#container {
	display: flex;
	align-content: center;
	justify-content: space-around;
	flex-direction: column;
}

#petpic {
	width: 200px;
	height:200px;
}
.stats {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 500px;
	width: 500px;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background: blue;
	font-size: 20px;
	font-weight: 900;
	border-radius: 20px;
	height: 100px;
}

#Hunger,#Sleepy,#Bored {
	background: #64489B;
	font: monoton;
	font-size: 35px;
/*	color: solid black;
	border: 6px solid black;*/
	width: 100px;
	height: 100px;
}

/*#hungry:hover {
	background-color: #4B0082;
}*/

/*#sleepy {
	position: absolute;
	bottom: 5%;
    right:5%;
	background-color: #64489B;
	font-size: 35px;
	color: solid black;
	border: 6px solid black;
	border-radius: 50px;
}*/

/*#sleepy:hover {
	background-color: #4B0082;
}*/

/*#bored {
	position: center bottom;
	bottom: 5%;
	background-color: #64489B;
	font-size: 35px;
	color: solid black;
	border: 6px solid black;
	border-radius: 50px;
}*/

/*#bored:hover {
	background-color: #4B0082;
}*/

#timer {
	color: solid black;
	font-size: 25px;
}